{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'webApp/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webApp/css/bootstrap.css' %}"/>
    <title>Stock Sentiment Tracker</title>
</head>
<body>
    <main>
        <h2 class="stock-name">$AAPL</h2>
        <h3>Tweets collected from: 2021-10-08 10:00AM UTC to 2021-10-08 10:00AM UTC</h3>
        <p>In the past 24 hours</p>
        <p>17123 Tweets</p>
        <p>30% Bullish 70% Bearish</p>
        <p>Heighlighted Tweets:</p>
        <p>placeholder</p>
    </main>
</body>
