{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/stockdetails.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}"/>
  <script src="{% static 'main/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'main/main.js' %}" defer></script>
  <title>{{ticker}} - Stock Sentiment Tracker</title>
</head>
<body>
  <main>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../" style="padding-left: 5%;">
          <img src="favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Stock Sentiment Tracker
        </a>
      </div>
    </nav>
  
    <div class="content">
        <!-- Loading Scene -->
        <div id="spinner-box" class="spinnerbox text-center mt-3">
          <div class="spinner-border" role="status"></div>
          <br><br>
          <h4>Calculating...</h4>
          <br><br>
          <h5>This may take several minutes.</h5>
        </div>
  
        <!-- Content -->
        <div id="data-box" class="databox invisible">
          <h3>Stock Sentiment Analysis</h3>
          <hr>
          <h1>$<span id="stockTicker"></span></h1>
          <h4>Last updated: <span id="lastUpdated"></span></h4>
          <br><br>
          <h2>Sentiment</h2>
          <div class="sentimentRating">
            <h5 style="margin-bottom: -2em;">Low Sentiment</h5>
            <div class="sentimentRating-content">
                <h3 id="rating-pointer" style="margin-bottom: -1em;">
                  <span id="sentimentScore"></span>
                  <br>
                  |
                </h3>  
                <hr style="width: 120%; margin-left: -10%;">
                <div class="numbers" style="margin-top: -1.9em; color: darkgray;">
                  <h8>|</h8><h8>|</h8><h8>|</h8><h8>|</h8><h8>|</h8>
                </div>
                <br>
                <div style="display: flex; margin-top: -16px;">
                  <h5 style="margin-left: -20px;">-100</h5>
                  <h5 style="padding-left: 65px;">-50</h5>
                  <h5 style="padding-left: 82px;">0</h5>
                  <h5 style="padding-left: 80px;">50</h5>
                  <h5 style="padding-left: 76px;">100</h5>
              </div>
            </div>
            <h5 style="margin-bottom: -2em;">High Sentiment</h5>
          </div>
          <br>
          <h5>Overall Sentiment is: <b><span id="sentimentDescription"></span></b></h5>
          <br><br><br>

          <h2>Conversation</h2>
          <p>There were <b><span id="numTweets"></span></b> tweets mentioning this stock in the past 24 hours.</p>
  
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" id="numPositiveTweets-bar" role="progressbar" style="width: 0%; background-color: #26bf2b;"   aria-valuenow="0"   aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar" id="numNeutralTweets-bar"  role="progressbar" style="width: 100%; background-color: #c1c1c1;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar" id="numNegativeTweets-bar" role="progressbar" style="width: 0%; background-color: #bf2626;"   aria-valuenow="0"   aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          <p>There were <b><span id="numPositiveTweets"></span> positive tweet(s)</b>, <b><span id="numNeutralTweets"></span> neutral tweet(s)</b> and <b><span id="numNegativeTweets"></span> negative tweet(s)</b>.</p>
          <br><br>
  
          <h3 id="relevant-tweets" class="invisible">Relevant Tweets</h3>
          <div id="featured-tweet-1"></div>
          <br>
          <div id="featured-tweet-2"></div>
          <br>
          <div id="featured-tweet-3"></div>
          <br>
  
        </div>    
      </div>
 
      <div id="stockdetails-footer" class="container invisible">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-muted">CPSC 571 G16</span>
          </div>
        
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://twitter.com/cpsc571project"><img src="{% static 'main/svg/twitter.svg' %}" class="bi" width="24" height="24"></img><h7></h7></a></li>
            <li class="ms-3"><a class="text-muted" href="https://github.com/stevenloppe/571-term-project"><img src="{% static 'main/svg/github.svg' %}" class="bi" width="24" height="24"></img><h7></h7></a></li>
          </ul>
        </footer>
      </div>

      <!-- Feeds ticker to main.js -->
      <input type="hidden" id="tickerjs" name="variable" value="{{ticker}}">
    </main>
  </body>
  