{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}"/>
    <title>{{stock.stockTicker}} - Stock Sentiment Tracker</title>
</head>
<body>
    <main>
        <h2 class="stock-name">Stock Ticker: ${{stock.stockTicker}}</h2>
        <h3>Last updated: {{stock.lastUpdated}} UTC</h3>
        <br>
        <p>sentimentScore: {{stock.sentimentScore}}</p>
        <p>numTweets: {{stock.numTweets}}</p>
        <p>numPositiveTweets: {{stock.numPositiveTweets}}</p>
        <p>numNeutralTweets: {{stock.numNeutralTweets}}</p>
        <p>numNegativeTweets: {{stock.numNegativeTweets}}</p>
        <p>Highlighted Tweets:</p>

        <table>
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Text</th>
                    <th>Emojis</th>
                    <th>Emoji Sentiment</th>
                </tr>
            </thead>
            <tbody>
                {% for tweet in tweets %}
                    <tr>
                        <td>{{tweet.created_at}}</td>
                        <td>{{tweet.text}}</td>
                        <td>{{tweet.emojis}}</td>
                        <td>{{tweet.emoji_sentiment}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
